/**
 * General for docs
 */

// Palette
// Accent will get overwritten with the theme's primary color
$palette: (
  "primary":           #424b5f,
  "secondary":         #283040,
  "meta":              #67758d,
  "border":            #dee5ef,
  "bg":                #f7f9fb,
  "note":              #fcb41d,
  "important":         #fc381d,
  "accent":            #00c6ff,
  "accent-alt":        #0072ff,
);

.docs-css {
// Apply only to the docs section of the site
font-size: 80%;

//$palette: map-set($palette, "accent", red); // just to test

html {
  font-family: _font(primary);
}

body {
  background: map-get($palette, bg);
  color: map-get($palette, primary);
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map-get($palette, secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2.25rem 0 1.125rem;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.125em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

p {
  margin: 0 0 1.875em;
}

address {
  font-style: italic;
  margin: 0 0 1.875em;
}

mark,
ins {
  background: lighten(map-get($palette, note),40%);
  color: map-get($palette, secondary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: map-get($palette, bg);
  border-radius: 3px;
  color: map-get($palette, secondary);
  font-family: _font(monospace);
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0 0 1.875rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

:not(pre) > code {
  background: map-get($palette, bg);
  border-radius: 3px;
  font-size: 0.875rem;
  padding: 0.1em;
  white-space: normal;
}

blockquote {
  border-left: 5px solid map-get($palette, accent);
  font-size: 1.5em;
  line-height: 1.33333;
  margin: 1.5em 0;
  padding-left: 1em;

  &:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: map-get($palette, meta);
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.875em;
}

ul,
ol {
  margin: 0 0 1.875em;
  padding: 0 0 0 1.5em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid map-get($palette, border);
  margin: 1.875em 0;
}

table {
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

caption {
  color: map-get($palette, meta);
  font-size: 0.875rem;
  font-style: normal;
  margin-bottom: 0.75rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid map-get($palette, border);
  padding: 0.5em 5px;
}

th {
  color: map-get($palette, secondary);
  font-weight: bold;
}

.responsive-table {
  display: block;
  margin: 0 0 1.875em;
  overflow-x: auto;
  width: 100%;
}

:not(.responsive-table) > table {
  display: block;
  margin: 0 0 1.875em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  tbody,
  thead {
    width: 100%;
  }

  tr {
    width: 100%;
  }

  td {
    min-width: 140px;
  }
}

/* Form fields */
label {
  color: map-get($palette, secondary);
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.25em;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid map-get($palette, border);
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: map-get($palette, primary);
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.form-group {
  margin-bottom: 1em;
}

.form-submit {
  margin-top: 1.66667em;
}

/* Menu button */

#menu-open,
#menu-close,
.docs-nav .docs-nav-toggle,
.docs-nav .docs-submenu-toggle {
  background: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: map-get($palette, meta);
}

::-moz-placeholder {
  color: map-get($palette, meta);
  opacity: 1;
}

:-ms-input-placeholder {
  color: map-get($palette, meta);
}

::-ms-input-placeholder {
  color: map-get($palette, meta);
}

::placeholder {
  color: map-get($palette, meta);
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.875em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

/* Notifications */
.note {
  background: lighten(map-get($palette, note),40%);
  border-left: 5px solid map-get($palette, note);
  border-radius: 5px;
  color: map-get($palette, secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

.important {
  background: lighten(map-get($palette, important),40%);
  border-left: 5px solid map-get($palette, important);
  border-radius: 5px;
  color: map-get($palette, secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

/* Background gradient */
.has-gradient {
  background: map-get($palette, accent);
  background: -webkit-linear-gradient(left,map-get($palette, accent-alt), map-get($palette, accent));
  background: linear-gradient(to right, map-get($palette, accent-alt), map-get($palette, accent));
  color: #fff;
  position: relative;
}

/* Background Image */
.bg-img {
  -webkit-animation: fadeIn20 .75s ease-in-out;
  animation: fadeIn20 .75s ease-in-out;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

/* Heading decoration */
.line-left {
  position: relative;

  &:before {
    background: map-get($palette, accent);
    content: "";
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 5px;
  }
}

/* Grid */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
}

.grid-item {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.grid-col-2 {
  .grid-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.grid-col-3 {
  .grid-item {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
}

.grid-swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.grid-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Text meant only for screen readers */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-content {
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  .grid-item {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

@media only screen and (max-width: 760px) {
  .grid-col-3 {
    .grid-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 640px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.875rem 0 0.9375rem;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.125em;
  }

  h6 {
    font-size: 1em;
  }

  blockquote {
    font-size: 1.25em;
    line-height: 1.5;
  }

  .grid-col-2 {
    .grid-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

/**
 * Docs
 */
.docs-content {
  padding-top: 2.5em;
}

.post.type-docs {
  margin-bottom: 5.625em;

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5,
  h6 {
    font-size: 1rem;
  }

  .hash-link {
    border: 0;
    color: map-get($palette, meta);
    display: inline-block;
    margin-left: -21px;
    opacity: 0;
    padding-right: 5px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;

    .icon-copy {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2367758d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-link'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
      display: inline-block;
      height: 16px;
      width: 16px;
    }
  }

  h2,
  h3 {
    &:hover,
    &:focus {
      .hash-link {
        opacity: 1;
      }
    }
  }

  .post-inside {
    background: #fff;
    border: 1px solid map-get($palette, border);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 2.5em 0;
  }
  
  .post-title {
    font-size: 1.875rem;
    margin: 0 0 2.5rem;
    padding: 0 7%;
  }

  .post-content {
    padding: 0 7%;
  }
}

.docs-section-items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -0.3125em;
  margin-right: -0.3125em;
  padding: 0;

  .docs-section-item {
    -webkit-flex: 1 1 240px;
    -ms-flex: 1 1 240px;
    flex: 1 1 240px;
    margin: 0 0.3125em 0.9375em;
  }

  .docs-item-link {
    border: 1px solid map-get($palette, border);
    border-radius: 3px;
    color: map-get($palette, secondary);
    display: block;
    font-weight: bold;
    padding: 0.9375em;
    position: relative;
    text-decoration: none;

    &:hover {
      border-color: map-get($palette, accent);
      color: map-get($palette, accent);
    }
  }
}

.docs-nav {
  margin-bottom: 1.875em;

  .docs-nav-toggle {
    color: map-get($palette, secondary);
    font-size: 1.125rem;
    height: 30px;
    margin: 0;
    padding-right: 30px;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .docs-submenu-toggle {
    color: map-get($palette, meta);
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }
}

.docs-menu {
  font-size: 110%;
  //color: map-get($palette, secondary);
  font-weight: bold;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  margin-left: 1.2em;
  padding: 0;

  & > .docs-menu-item > a {
    padding: 0.1875rem 0;
  }

  a {
    border: 0;
    color: inherit;
    display: block;

    &:hover,
    &:focus {
      color: map-get($palette, accent);
    }
  }
}

.docs-submenu {
  border-left: 1px solid map-get($palette, border);
  color: map-get($palette, primary);
  display: none;
  font-weight: normal;
  list-style: none;
  margin-top: 0.625rem;
  padding-left: 1.25rem;
}

.docs-menu-item {
  color: inherit;
  margin-bottom: 0.625rem;

  &.current,
  &.current-parent {
    color: map-get($palette, accent);
  }

  &.has-children {
    padding-right: 30px;
    position: relative;
  
    &.active {
      .docs-submenu {
        display: block;
      }
  
      & > .docs-submenu-toggle {
        .icon-angle-right {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }
      }
    }
  }
}

.page-nav {
  display: none;

  .page-nav-title {
    font-size: 1rem;
    margin: 0 0 0.625rem;
  }

  ul {
    font-size: 0.8125rem;
    line-height: 1.5;
    list-style: none;
    padding: 0;

    ul {
      border-left: 1px solid map-get($palette, border);
      margin-top: 0.625rem;
      padding-left: 1.25rem;
    }
  }

  li {
    margin-bottom: 0.625rem;

    &.active > a {
      color: map-get($palette, accent);
    }
  }

  a {
    color: map-get($palette, primary);
    border: 0;
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      color: map-get($palette, accent);
    }
  }
}

.docs-nav-menu a {
  text-decoration: none;
}

.page-nav-inside {
  display: none;

  &.has-links {
    display: block;
  }
}

@media only screen and (min-width: 801px) {
  .docs-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3.75em;
  }

  .post.type-docs {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .docs-nav,  
  .page-nav {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 5.625em;

    .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 1.875rem;
    }
  }

  .docs-nav {
    padding-right: 1.5em;
    width: 14.5em;
  }

  .page-nav {
    padding-left: 1.5em;
    width: 14.5em;
  }

  .docs-nav-toggle {
    display: none;
  }
}

@media only screen and (min-width: 1091px) {
  .page-nav {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .docs-nav {
    background: #fff;
    border: 1px solid map-get($palette, border);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 0.75em 1em;
  }

  .docs-nav-menu {
    display: none;
  }

  .docs-menu--opened {
    // open docs dropdown menu on mobile, this gets activated when the class .docs-menu--opened gets added to the div docs-css, which is done in assets/js/init.js in function docsNavToggleHandler which is attached as an on-click event through page-load.js and page-unload.js
    .docs-nav-menu {
      display: block;
    }

    .docs-nav-toggle {
    // Change the docs mobile menu icon (arrow) to point downward
      .icon-angle-right {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }

  .docs-menu {
    border-top: 1px solid map-get($palette, border);
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
}

@media only screen and (max-width: 640px) {
  .post.type-docs {
    .post-title,
    .post-content {
      padding: 0 2.25rem;
    }
  }
}

/**
 * Icons
 */
.icon-menu,
.icon-close {
  background: currentColor;
  border-radius: 1px;
  color: inherit;
  height: 2px;
  margin-top: -1px;
  margin-left: -12px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;

  &:before,
  &:after {
    background: currentColor;
    border-radius: 1px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.icon-menu {
  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px;
  }
}

.icon-close {
  background: 0;
  margin-left: -15px;
  width: 30px;

  &:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.icon-angle-right {
  background: 0;
  border-color: currentColor;
  border-style: solid;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  height: 8px;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.docs-nav-toggle {
  .icon-angle-right {
    height: 12px;
    left: auto;
    margin-left: 0;
    margin-right: 9px;
    margin-top: -6px;
    right: 0;
    width: 12px;
  }
}

.docs-section-item {
  .icon-angle-right {
    left: auto;
    margin-left: 0;
    margin-right: 15px;
    right: 0;
  }
}

.docs-nav-toggle {
  .icon-angle-right {
    height: 12px;
    left: auto;
    margin-left: 0;
    margin-right: 9px;
    margin-top: -6px;
    right: 0;
    width: 12px;
  }
}

.docs-section-item {
  .icon-angle-right {
    left: auto;
    margin-left: 0;
    margin-right: 15px;
    right: 0;
  }
}

}

// Redefine accent to match the theme's color
// This needs to be placed outside of .docs-css to work
@each $style in map-keys($theme-styles) {
	$style-suffix: "#{$style}";
	$colors: map-deep-get($theme-styles, $style, "colors");
	@each $color, $value in $colors {
		$color-suffix: "#{$color}";
	
		.style-#{$style-suffix} {
			&.palette-#{$color-suffix} {
				.docs-css {

                    blockquote {
                        border-left: $value;
                    }
                    
                    .has-gradient {
                      background: $value;
                      background: -webkit-linear-gradient(left, map-get($palette, accent-alt), $value);
                      background: linear-gradient(to right, map-get($palette, accent-alt), $value);
                    }

                    .line-left:before {
                        background: $value;
                    }

                    .docs-section-items .docs-item-link:hover {
                        border-color: $value;
                        color: $value;
                    }

                    .docs-menu a {
                        &:hover,
                        &:focus {
                          color: $value;
                        }
                    }

                    .docs-menu-item {
                        &.current,
                        &.current-parent {
                            color: $value;
                        }
                    }

                    .page-nav {
                        li.active > a {
                            color: $value;
                        }

                        a {
                            &:hover,
                            &:focus {
                                color: $value;
                            }
                        }
                    }


                }
			}
		}
	}
}

